.results-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #b1dfe0;
}
.results-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.results-logo {
  text-decoration: none;
}
.results-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.results-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.results-banner-button {
  width: 135px;
  height: 38px;
  font-size: 12px;
  text-decoration: none;
}
.results-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.results-login {
  margin-right: 32px;
}
.results-burger-menu {
  display: none;
}
.results-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.results-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.results-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.results-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.results-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.results-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.results-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.results-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.results-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.results-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.results-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.results-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.results-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.results-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.results-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.results-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.results-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.results-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.results-gallery {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.results-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.results-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.results-text14 {
  font-size: 60px;
}
.results-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.results-container03 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.results-banner {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results-faq-container {
  align-items: center;
  justify-content: center;
}
.results-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 433px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.results-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.results-container05 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.results-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.results-container08 {
  display: contents;
}
.results-footer {
  height: 158px;
}
.results-container09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.results-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.results-nav221 {
  margin-left: var(--dl-space-space-unit);
}
.results-nav321 {
  margin-left: var(--dl-space-space-unit);
}
.results-nav421 {
  margin-left: var(--dl-space-space-unit);
}
.results-nav521 {
  margin-left: var(--dl-space-space-unit);
}
.results-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.results-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.results-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.results-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.results-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.results-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .results-hero1 {
    flex-direction: column;
  }
  .results-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .results-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .results-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .results-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .results-desktop-menu {
    display: none;
  }
  .results-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .results-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .results-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .results-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .results-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .results-container03 {
    grid-template-columns: 1fr;
  }
  .results-faq1 {
    flex-direction: column;
  }
  .results-container04 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .results-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .results-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .results-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .results-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .results-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .results-mobile-menu1 {
    padding: 16px;
  }
  .results-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .results-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .results-btn-group {
    flex-direction: column;
  }
  .results-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .results-footer {
    padding: var(--dl-space-space-unit);
  }
  .results-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .results-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .results-text31 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
